.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

navbar a:hover{
	color:#F30067;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.custom-scrollbar {
    height: 100px;
    overflow-y: hidden;
}

.frame {
    padding: 5px;
    margin: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #B3A20C;
}

/* unvisted link */ 
a:link {
    text-decoration: none;
    color: black;
}
/* visted link */
a:visited{
    text-decoration: none;
    color: #6953B8;
}

/* mouse over link */
a:hover{
    color: #B3A20C;
}


