{% extends "base.html" %}


{% block content %}

 <img src="{{book.url}}" alt=book image><br>
 <b>Title: </b> {{book.title}}<br>
<b>About Book: </b> {{book.description}}<br>
<b>Price: $</b>{{book.cost}}<br>
<b>Copies left: </b> {{book.quantity}}<br><br><br>
<b>Reviews about book : </b><br><br><br>
 {% for post in posts %}
     {% if (post.review.id == id) %}
     <div>{{post.body}}<br> ------------------by {{post.author.username}}</div>
      <a href="/delete?id={{post.id}}&bookId={{id}}" style="color:red" >Delete</a>
    <a href="/update?id={{post.id}}&bookId={{id}}" style="color:blue">Update</a>

     {% endif %}
{% endfor %}



{% endblock %}
