
{% extends "base.html" %}


{% block content %}
    
<div class="jumbotron text-center">
    <h1>Welcome {{current_user.username }}</h1>
</div>

<div class="container-fluid bg-3 text-center">
    <h3>New Books</h3><br>
    <div class="row">
    {% for book in books %}
    <div class="col-sm-3">
        <h5><a href="/book?id={{book.id}}">{{book.title}}</a></h5>
        <a href="/book?id={{book.id}}">
        <img class="mb-4" src="{{book.url}}" class="img-responsive"
        style="width:25%" alt="Book Image">
    </a>
    </div>
    <br>
    {% endfor %}
    </div>
</div>

<div class="container-fluid bg-2 text-center">
    <h3>Top Picks</h3><br>
    <div class="row">
    {% for book in books %}
    <div class="col-sm-3">
        <h5><a href="/book?id={{book.id}}">{{book.title}}</a></h5>
        <a href="/book?id={{book.id}}">
        <img class="mb-4" src="{{book.url}}" class="img-responsive" 
        style="width:25%" alt="Book Image">
        </a>
    </div>
    {% endfor %}
    </div>
</div>

<div class="list-unstyled">
    {% for book in books %}
    <div class="frame">
        <li class="media">
            <img class="mb-4 mr-4" src="{{book.url}}" class="img-responsive" 
            style="width:10%" alt="Book Image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="/book?id={{book.id}}">{{book.title}}</a></h5>
                <div class="custom-scrollbar">
                    {{book.description}}<br>
                </div>
            </div>
            ${{book.cost}}<br>
        </li>
    </div>
    {% endfor %}
</div>

{% endblock %}






