
{% extends "base.html" %}


{% block content %}
 
 <img src="{{book.url}}" alt=book height="600px" width="450px"><br>
 <b>Title: </b> {{book.title}}<br>
<b>About Book: </b> {{book.description}}<br>
<b>Price: $</b>{{book.cost}}<br>
<b>Copies left: </b> {{book.quantity}}<br><br><br>
<b>Reviews about book : </b><br><br><br>
 {% for post in posts %}
    {{post.review.id}} v/s {{id}}<br>
     {% if (post.review.id != id) %}
     <div>{{post.body}}<br> ------------------by {{post.author.username}}</div>
      {% else %}
       <h3>Update Post:</h3>
       <form action="/modify?bookId={{bookId}}&id={{id}}" method="POST">
      
      
      <b>Updated Body: </b> <input name="body" style="height:100px"><br><br>
      <input type="Submit">
      </form>
      <hr>
     {% endif %}
   {% endfor %}
 
{% endblock %}
